<%- include('../partials/header.ejs') %>
<main class="container p-5">
    <div class="card mx-auto">
        <div class="row gx-0 gy-0">
            <ul class="list-group list-group-flush p-3">
                <li class="list-group-item">
                    <h4 class="card-title">Your listings</h4>
                </li>
                <% if (aircraft && aircraft.length > 0) { %>
                    <% aircraft.forEach(aircraft => { %>
                        <li class="list-group-item">
                            <div class="row align-items-start">
                                <div class="col"><a href="/aircraft/<%= aircraft.id %>"><%= aircraft.title %></a></div>
                                <div class="col">$<%= aircraft.price.toLocaleString() %></div>
                                <div class="col">Active: <%= aircraft.active %></div>
                                <div class="col text-nowrap">
                                    <form>
                                        <button type="submit" formmethod="POST"
                                                formaction="/aircraft/<%= aircraft.id %>?_method=DELETE"
                                                class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></button>
                                        <button type="submit" formmethod="GET"
                                                formaction="/aircraft/<%= aircraft.id %>/edit"
                                                class="btn btn-sm btn-secondary">
                                            <i class="bi bi-pencil-square"></i></button>
                                        <button type="submit" formmethod="GET"
                                                formaction="/aircraft/<%= aircraft.id %>/offers"
                                                class="btn btn-primary" <% if (aircraft.totalOffers === 0) { %>disabled
                                                <% } %>
                                        >View Offers
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </li>
                    <% }); %>
                <% } else { %>
                    <li class="list-group-item">
                        You have no aircraft listings.
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
    <div class="card mx-auto mt-5">
        <div class="row gx-0 gy-0">
            <ul class="list-group list-group-flush p-3">
                <li class="list-group-item">
                    <h4 class="card-title">Your offers</h4>
                </li>
                <% if (offers && offers.length > 0) { %>
                    <% offers.forEach(offer => { %>
                        <li class="list-group-item">
                            <div class="row align-items-start">
                                <div class="col"><a
                                            href="/aircraft/<%= offer.aircraft.id %>"><%= offer.aircraft.title %></a>
                                </div>
                                <div class="col">$<%= offer.price.toLocaleString() %></div>
                                <div class="col"><%= offer.accepted %></div>
                            </div>
                        </li>
                    <% }); %>
                <% } else { %>
                    <li class="list-group-item">
                        You have made no offers.
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</main>
<%- include('../partials/footer.ejs') %>