<%- include('../partials/header.ejs') %>
<main class="p-5">
    <div class="single-listing card mx-auto">
        <div class="row gx-0 gy-0">
            <div class="col-lg-7">
                <img src="/images/<%= aircraft.image %>" class="card-img" alt="">
            </div>
            <ul class="list-group list-group-flush col-lg-5 p-3">
                <li class="list-group-item">
                    <h4 class="card-title"><%= aircraft.title %></h4>
                </li>
                <li class="list-group-item">
                    <strong>$<%= aircraft.price.toLocaleString() %></strong> | <%= aircraft.totalOffers %> Offers
                </li>
                <li class="list-group-item"><strong>Condition:</strong> <%= aircraft.condition %> | <strong>Listed By:</strong> <%= aircraft.seller.firstName + " " + aircraft.seller.lastName %>
                </li>
                <li class="list-group-item">
                    <%= aircraft.details %>
                </li>
                <% if (user && user._id == aircraft.seller._id) { %>
                <li class="list-group-item">
                    <form>
                        <button type="submit" formmethod="GET" formaction="/aircraft/<%= aircraft.id %>/edit" class="btn btn-primary"><i class="bi bi-pencil-square"></i> Edit Listing</button>
                        <button type="submit" formmethod="POST" formaction="/aircraft/<%= aircraft.id %>?_method=DELETE" class="btn btn-outline-danger"><i class="bi bi-trash3"></i> Delete Listing</button>
                    </form>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</main>
<%- include('../partials/footer.ejs') %>